<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    {% for ques in popularqs %}

        <div class="card border-dark mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../media/{{ques.q_img}}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{ques.title|truncatechars:70}}</h5>
                    <h6 class="card-category">Category: {{ques.category}}</h6>
                    <p class="card-text">{{ques.question_desc|truncatechars:90}}</p>
                    <p class="card-text"><small class="text-muted">Posted By: {{ques.posted_by}}</small></p>
                    <p class="card-text"><small class="text-muted">{{ques.timestamp}}</small></p>
                    <p class="card-text"><small class="text-muted">Votes: {{ques.question_votes}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7Ywa
</body>
</html>