<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    Title: <input type="text" name="title"><br><br>
    Posted_by: <input type="text" name="posted_by"  ><br><br>
    Description: <input type="text" name="question_desc"><br><br>
    Image: <input type="file" name="question_img"><br>  <br>
    Category: 
    <select name="category" >
        {% for cat in category%}
        <option value="{{cat.id}}">{{cat.title}}</option>
        {% endfor %}
    </select>
    <input type="hidden" name="question_votes" value="0">
    <input type="submit" value="submit">
</form>